{% comment %} you can always turn off the speedupkernel{% endcomment %}
{%- assign speedupkernel = true -%}
{%- assign is_admin_interface = false -%}

{%- if speedupkernel -%}
{%- if request.host contains 'myshopify.com' -%}
{%- assign is_admin_interface = true -%}
{%- else -%}
{%- assign is_admin_interface = false -%}
{%- endif -%}

{%- if request.host contains 'shopifypreview.com' -%}
{%- assign is_admin_interface = false -%}
{%- endif -%}

{%- if request.host contains 'gempages.net' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}	

{%- if request.path contains 'cart' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'checkout' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'pages' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'blog' -%}
{%- assign speedupkernel = true -%}
{%- endif -%}
{%- endif -%}
<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">
  <head> 

<!-- End Facebook Pixel Code -->
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <meta name="tapcart-banner:appIcon"
    content="https://storage.googleapis.com/tapcart-150607.appspot.com/d1e22dbc08caa02f7175d6f5873e68a4_appicon1png.png"
>
    
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x' }}" type="image/png">
    {%- endif -%}

    <link rel="preload" href="https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXiWtFCc.woff2" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="{{ 'theme.scss.css' | asset_url }}">

    {% render 'social-meta-tags' %}

        {{ content_for_header }}
   
<link rel="preload" href="https://fonts.shopifycdn.com/century_gothic/centurygothic_n4.ad57dd3bb953e5ec072f848ba96048738158e9b0.woff2?h1=bW9kZXJud2FsbGFydHMuY29t&hmac=335477f340f165d2712165bc38f4411f1c281edf648ce99b3f5f2465afeb64f3" as="font" type="font/woff" crossorigin>
<link rel="preload" href="https://fonts.shopifycdn.com/futura/futura_n4.df36ce3d9db534a4d7947f4aa825495ed740e410.woff2?h1=bW9kZXJud2FsbGFydHMuY29t&hmac=f46da6b6b3b965d0ca802fbef646e083e6e3430eaf953ddb75f579527b4b57c5" as="font" type="font/woff" crossorigin>

<link rel="preload" href="{{ 'theme.scss.css' | asset_url }}" as="style">
<link rel="preload" href="{{ 'custom-css-shopify.css' | asset_url }}" as="style">

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());
    </script>

    <script  src="{{ 'lazysizes.min.js' | asset_url }}" async></script>

    {%- if template == 'customers/addresses' -%}
      <script  src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script  src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script>
      (function () {
        window.onpageshow = function() {
          if (window.theme.showPageTransition) {
            var pageTransition = document.querySelector('.PageTransition');

            if (pageTransition) {
              pageTransition.style.visibility = 'visible';
              pageTransition.style.opacity = '0';
            }
          }

          // When the page is loaded from the cache, we have to reload the cart content
          document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
            bubbles: true
          }));
        };
      })();
    </script>

    {% render 'microdata-schema' %}
    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom-css-shopify.css' | asset_url }}">

  <meta name="google-site-verification" content="13tVd_AepEfGJ3tjP9ndb9Oc14aizmDbVcSsKD5y1G4" />
  
{% assign fa_google_ads_audience_tag_id = 580667323 %}

{% assign fa_product_id_alpha2_code = 'US' %}

{% assign fa_prices_with_decimal_separator = true %}

{% assign fa_product_id = 'default' %}

{% if fa_prices_with_decimal_separator == true %}
	{% if template contains 'product' %}
		{% assign fa_product_price = product.price_min | money_without_currency | remove:',' %}
	{% elsif template contains 'cart' %}
		{% assign fa_product_price = cart.total_price | money_without_currency | remove:',' %}
	{% endif %}
{% else %}
	{% if template contains 'product' %}
		{% assign fa_product_price = product.price_min | money_without_currency | remove:'.' | replace: ',', '.' %}
	{% elsif template contains 'cart' %}
		{% assign fa_product_price = cart.total_price | money_without_currency | remove:'.' | replace: ',', '.' %}
	{% endif %}
{% endif %}
{% if template contains 'collection' %}
{% assign fa_event = 'view_item_list' %}
{% elsif template contains 'product' %}
{% assign fa_event = 'view_item' %}
{% elsif template contains 'search' %}
{% assign fa_event = 'view_search_results' %}
{% elsif template contains 'cart' %}
{% assign fa_event = 'add_to_cart' %}
{% elsif template contains 'index' %}
{% assign fa_event = 'home' %}
{% else %}
{% assign fa_event = 'other' %}
{% endif %}

<script >
  gtag('event', '{{ fa_event }}', {
    'send_to': 'AW-{{ fa_google_ads_audience_tag_id }}',
	{% if template contains 'product' or template contains 'cart' %}'value': {{ fa_product_price }},{% endif %}
	{% if template contains 'product' %}
    'items': [{
		{% if fa_product_id == 'default' %}
			'id': 'shopify_{{ fa_product_id_alpha2_code }}_{{ product.id }}_{% if product.variants.first.id %}{{ product.variants.first.id }}{% else %}{{ product.variants.id }}{% endif %}',
		{% elsif fa_product_id == 'product_id' %}
			'id': '{% if product.variants.first.id %}{{ product.variants.first.id }}{% else %}{{ product.variants.id }}{% endif %}',
		{% elsif fa_product_id == 'parent_id' %}
			'id': '{{ product.id }}',
		{% elsif fa_product_id == 'sku' %}
			'id': '{% if product.variants.first.id %}{{ product.variants.first.sku }}{% else %}{{ product.variants.sku }}{% endif %}',
		{% endif %}
      'google_business_vertical': 'retail'
    }]
	{% elsif template contains 'cart' %}
	'items': [
	{% for item in cart.items %}
	{
		{% if fa_product_id == 'default' %}
			'id': 'shopify_{{ fa_product_id_alpha2_code }}_{{ item.product_id }}_{{ item.variant_id }}',
		{% elsif fa_product_id == 'product_id' %}
			'id': '{{ item.variant_id }}',
		{% elsif fa_product_id == 'parent_id' %}
			'id': '{{ item.product_id }}',
		{% elsif fa_product_id == 'sku' %}
			'id': '{{ item.sku }}',
		{% endif %}
      'google_business_vertical': 'retail'
    },
	{% endfor %}
	]
	{% endif %}
  });
</script>
    
  <meta name="google-site-verification" content="Bf9IXTTjJWmt4PaO-F6h5r11AkR2CV9TxAsgD1Wh1us" />
  <!-- GSSTART Coming Soon code start. Do not change -->
<script > gsProductByVariant = {}; {% if product.id > 1 %}{% for variant in product.variants %} gsProductByVariant[{{variant.id}}] = {% if variant.available %} 1 {% else %} 0 {% endif %}; {% endfor %}{% endif %}  gsProductCSID = "{{ product.id }}"; gsDefaultV = "{{ product.selected_or_first_available_variant.id }}"; </script>

<script  src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry,URL" defer></script>
<script  src="{{ 'libs.min.js' | asset_url }}" defer></script>
<script  src="{{ 'theme.min.js' | asset_url }}" defer></script>
<script  src="{{ 'custom.js' | asset_url }}" defer></script>

</head>
             

  <body class="prestige--v4 {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
    <a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>
    <div class="PageTransition"></div>

    {% section 'popup' %}
    {% section 'sidebar-menu' %}

    {%- if template != 'cart' -%}
      {% render 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% section 'announcement' %}
      {% section 'header' %}

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>
  <script async defer src="https://www.googletagmanager.com/gtag/js?id=AW-{{ fa_google_ads_audience_tag_id }}"></script>
  <script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-{{ fa_google_ads_audience_tag_id }}');
  </script>
  <script async defer src="https://www.googletagmanager.com/gtag/js?id=AW-580667323"></script>
  <script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'AW-580667323');
  </script>
<script  src="{{ 'expo-init.js' | asset_url }}" defer="defer"></script>
<script  defer src="https://gravity-software.com/js/shopify/pac_shop35214.js?v=ad7fb0945d63a6b7b8d1e287809ca30a"></script>
<script defer>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '713799499455465');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=713799499455465&ev=PageView&noscript=1"
/></noscript>
{% include 'bss-product-labels-configs' %}
{% include 'upsellio' %}
<script defer>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script><div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&amp;','%26'}}" data-description="{{ product.description | escape }}" data-price="{{ variant.price | money_without_currency }}" data-currency="{{ shop.currency }}"></div>

{% include 'upsellio_embed' %}
</body>
</html>
